body{
  margin: 0;
}
.about{
font-family:georgia;
width: 100%;
}
.nosotros{
  align-content: center;
  text-align: center;
}
.h1-nos{
text-align: center;
font-size: 40px;
margin-top: 50px;
}
.h-nos{
margin: 20px;
font-size: 30px;
text-align: center;
}
.img-nosotros{
   width:400px;
  height:400px;
  display: block;
  margin: auto;
}
.parrafos{
align-content: center;
text-align: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: black;
margin: 20px 480px  30px 460px;
}
h1{
font-family: 'Times New Roman', Times, serif;
color: rgb(83, 32, 1);
}

