<div class='about'>
  <h1 class="h1-nos"><b>Nosotros</b></h1>

  <h2 class="h-nos">¿POR QUÉ NACE SALVATO?</h2>
  <div class='nosotros'>
  <img src='../assets/nosotros2.jpg' alt='no carga' class="img-nosotros">
   <p class="parrafos">Salvato nace al percibir la carencia de los productos saludables, naturales y de buena calidad en nuestra ciudad. Con las ganas de hacer
   un producto único con un delicioso sabor, entregando un balance entre tu Bienestar y la exigencia de tu paladar.</p>
   </div>

   <h2 class="h-nos">¿Qué está detrás de SALVATO?</h2>

   <div class='nosotros'>
   <img src='../assets/dueño.jpg' alt='no carga' class="img-nosotros">
   <p class="parrafos">Detrás de este proyecto está un "Chino" orgullosamente santandereano, deportista, aficionado, soñador, amante de la alimentación saludable y la nutrición,
   que se desvive por entregar a sus clientes comida 100% real, artesanal y saludable.</p>

   </div>

   <h2 class="h-nos">Nuestros Productos </h2>
   <img src='../assets/nosotros.jpg' alt='no carga' class="img-nosotros">
  <div class='nosotros'>
  <p class="parrafos">Están elaborados a base de harina de avena, arroz, eliminamos harinas y azúcar refinado, también edulcorantes artificiales,
   pues en Salvato endulzamos con estevia pura y panela de nuestra tierra. Las frutas, verduras y semillas utilizadas son siempre
   seleccionadas con detalle, garantizando a nuestros clientes productos 100% frescos y naturales. El chocolate que utilizamos
   en nuestras preparaciones, contiene 70% de concentración , la opción ideal si quieres cuidar y a la vez disfrutar.</p>

  </div>


</div>
