<div class="registro">
  <h3 class="registroH5">Registro</h3>

  <div id="cuadro3" class="card">
    <div class="card-body">
      <h5 class="card-title">Datos Cliente</h5>
      <form [formGroup]="pruebaForm" (ngSubmit)="submit()">

        <div class="form-group">
          <label for="formGroupExampleInput">Nombre</label>
          <input
          formControlName="nombre"
            type="text"
            class="form-control"
            placeholder="Nombre"
          />
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">E-mail</label>
          <input
          formControlName="email"
            type="email"
            class="form-control"
            placeholder="E-mail"
          />
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Contraseña</label>
          <input
          formControlName="password"
            type="password"
            class="form-control"
            placeholder="Contraseña"
          />
        </div>
        <button style="color:white" class="btn">
          Registrarse
        </button>
      </form>
      <!-- <router-link to="/login" style="color:white" class="btn" active-class="active"
          >Volver</router-link> -->
    </div>
  </div>
</div>
