<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="logoImg">
      <img src="../assets/Logosalvato.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <!-- <form v-on:submit.prevent="login"> -->

        <select class="form-control" id="perfil" [(ngModel)]="condicion" name="condicion" >
            <option value="" disabled>Seleccione Rol</option>
            <option value=0 (click)="valor()">Cliente</option>
            <option value=1 (click)="valor()">Administrador</option>
        </select>
        <form [formGroup]="login" (ngSubmit)="loginUsuario()">
        <ng-container *ngIf="condicion==0">
          <div class="cliente" >
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="Usuario" formControlName="email">
            <input type="password" id="password" class="fadeIn third" name="login" placeholder="Password" formControlName="password">
          </div>
        </ng-container>

        <ng-container *ngIf="condicion==1">
          <div class="Administrador"  >
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="UsuarioAdmi">
            <input type="password" id="password" class="fadeIn third" name="login" placeholder="Password" >
          </div>
        </ng-container>

<!--       <input type="validar" id="validar" class="fadeIn third" name="login" placeholder="Validar" v-model="password">
 -->      <button class="btnIngresar">
          Ingresar
        </button>
      </form>
   <!--  </form> -->

    <!-- Remind Passowrd -->
    <div id="formFooter">
    <p class="registro">¿No tienes cuenta? <!-- <router-link to="/registro" id="enla" class="nav-link" active-class="active"
            ><b>Registrarse</b></router-link -->
          </p>
          <a href="registrarUsuario">Registrate</a>
    </div>

  </div>
</div>
