<div class='carrusel justify-content-center'>
  <div class="carrusel-img">
          <ul class="img-carrusel">
            <li><img src="../assets/background2.jpg" alt="No cargó"></li>
            <li><img src="../assets/diapo3.png" alt="No cargó"></li>
            <li><img src="../assets/diapo2.png" alt="No cargó"></li>
            <li><img src="../assets/diapo1.png" alt="No cargó"></li>
          </ul>
      </div>
  </div>

  <div class="barra">
    <div class="iconopan">
        <p style="color:white; font-family:'Times New Roman', Times, serif ; font-size:20px">Panes <br>
        Deliciosos y frescos</p>
    </div>
    <div class="iconotorta">
        <p style="color:white; font-family:'Times New Roman', Times, serif ; font-size:20px">Tortas <br>Suaves y saludables</p>
    </div>
    <div class="iconopostre">
        <p style="color:white; font-family:'Times New Roman', Times, serif ; font-size:20px">Detalles <br>
        Para repartir amor </p>
    </div>
</div>
<div id="lista-pro" class="container22">
  <h1 id="titulo2" class="titulo2"><b>"Se requiere una alimentación saludable para tener una salud envidiable"</b></h1>
  <h2>Productos</h2>
  <div class="row1">
              <div class="four columns">
                  <div class="carta" id="salvatos">
                          <img src="../assets/pan_italianisimo.jpg" class="imagen-curso u-full-width">
                      <div class="info-carta">
                              <h4>Panes</h4>
                              <p>Variedad de panes a base de harina de avena, harina integral, harina de chia y linaza.
                              </p>
                      </div>
                  </div>
              </div>

              <div class="four columns">
                  <div class="carta">
                          <img src="../assets/salvato_chocomani.jpg" class="imagen-curso u-full-width">
                      <div class="info-carta">
                          <h4>Salvatos</h4>
                          <p>Panes a base de harina de avena y arroz, de diferente y deliciosos sabores.</p>
                      </div>
                  </div> <!--.card-->
              </div>

              <div class="four columns">
                  <div class="carta">
                      <img src="../assets/torta_red.jpg" class="imagen-curso u-full-width">
                      <div class="info-carta">
                          <h4>Tortas</h4>
                          <p>Tortas a base de harina de arroz y harina de avena, que te hará alucinar.</p>
                      </div>
                  </div> <!--.card-->
              </div>

  </div><!--cierre-->
          <div class="row1">
              <div class="four columns">
                  <div class="carta" id="salvatos">
                          <img src="../assets/Cupcakes.jpeg" class="imagen-curso u-full-width">
                      <div class="info-carta">
                          <h4>Cupcakes</h4>
                          <p>Disfruta estos deliciosos muffins saludables de diferentes sabores.
                          </p>
                      </div>
                  </div>
              </div>

              <div class="four columns">
                  <div class="carta">
                          <img src="../assets/jarcake_brownie.jpg" class="imagen-curso u-full-width">
                      <div class="info-carta">
                          <h4>Jarcakes</h4>
                          <p>Torta del sabor que desees en un jar para esos pequeños antojos.</p>
                      </div>
                  </div> <!--.card-->
              </div>

              <div class="four columns">
                  <div class="carta">
                      <img src="../assets/trocitos.jpg" class="imagen-curso u-full-width">
                      <div class="info-carta">
                          <h4>Otros</h4>
                          <p>También te ofrecemos trocitos de guayaba, alfajoles, brownies y harinas.</p>
                      </div>
                  </div> <!--.card-->
              </div>
          </div><!--cierre-->

  <h2>Puntos de distribución</h2>
  <div class="div">
      <img src="../assets/holistica.png" alt="No cargó" class="dis">

  </div>

